/*first page:title*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 17px;
    background-color:rgb(203, 239, 251)
  }
  
  .container {
    position: relative;
    max-width: 1500px;
    max-height: 600px;
    margin: 0;
  }
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }
  .container img {vertical-align: middle;
  }
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    padding: 20px;
  }
  .containerx{
    max-width: 1500px;
    max-height: 600px;
    margin: 5;
    background-color: lightblue; 
  }
  .containerx .content {
    bottom: 0;
    width: 100%;
    padding: 20px;
    word-wrap: break-word;
  }
 
/*third page:image gallery*/
  .main {
   max-width:2000px;
   max-height:600px;
    margin-right:auto;
    margin-left:auto;
    float:center;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    color: rgb(52, 61, 66);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  h2{
    color: rgb(203, 239, 251)
  }

  h4{
    color:rgb(67, 141, 238);
  }
  .row {
    margin: 3px;
  }
  .column {
    float: left;
    width: 600px;
    height: 400px;
  }
  .content {
    background-color:rgb(120, 175, 214);
    padding: 25px;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/*second page: about me*/
  .split {
    height: 600px;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 5;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    float: left;
    background-color: rgb(120, 175, 214);
  }
  .right {
    float: left;
    background-color:black;
    color: rgb(120, 175, 214);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  }
  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .centered img {
    width: 150px;
    border-radius: 20%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color:  rgb(120, 175, 214);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

/*footer*/
div {
    word-wrap: break-word;
  }

  
